// Variables globales para el proyecto, pero tambien esta sujeto a cambios conforme vayamos avanzando en el proyecto
body {
  background-color: $light;
  color: $dark;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}