// .filtros-iniciativas {
//     padding: 0;
// }

.filtro-categorias {

    .encabezado-lista {
        background-color: $light;
        color: $primary;
        border-color: $dark;
        font-weight: bold;
        font-size: 1.1rem;
    }

    button {
        background-color: $gray;
        color: $primary;
        border-color: $dark;
    }
}

.contenedor-filtros-activos .alert{
    max-height: 4rem;
    font-size: 0.5rem;
}

.tarjeta-iniciativa {
    border: $dark 1px solid;
    border-radius: 5px;

    h3 {
        font-family: $font-family-sans-serif;
        font-size: 1.1rem;
        color: $primary;
    }


    .encabezado-tarjeta {
        border-bottom: $dark 1px solid;

        p {
            color: $secondary-light;
        }
    }

    .etiqueta {
        font-weight: 500;
        color: $secondary-dark;
    }

    .resumen {
        font-size: 0.9rem;
    }

    .estado {
        border: none;
    }
}