// Sobreescritura a variables de Bootstrap (Está sujeto a cambios, conforme vayamos avanzando en el proyecto)
$primary: #004b87;    
$secondary-light: #00a896;   
$secondary-dark:#032057;
$dark: #1e293b;        
$light: #f8fafc;      
$border-radius: 0.5rem;

// Fuentes
$font-family-sans-serif: 'Segoe UI', system-ui, -apple-system, sans-serif;